/* ----------------------------------------------------- */
/* Customs colors */
/* ----------------------------------------------------- */

:root{
    --col-blue-900: 230 35% 7%;
    --col-white: 0 0% 100%;
    --col-blue-300: 231 77% 90%;
    /* starting with a base font weight of 400 - 16px, based on typography, we add more sizes */
    /* use rem font sizes to respect accessibility standardss */
    --fs-900: 9rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem; /* so this is 18px */
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    /* copied from kevin powell */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

    --underline-width: 0.2rem solid;


}

/* ----------------------------------------------------- */
/* Reset */
/* ----------------------------------------------------- */

/* added some css resets from this blog - 
https://piccalil.li/blog/a-more-modern-css-reset/
*/

/* reset border, all pseudo elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins for other elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6, p{
    /* no bold is used in figma template so let's stick to default of 400 */
    font-weight: 400;
}

/* override default line height of 1.4 */
body {
  line-height: 1.5;
  min-height: 100vh; /* remove any issues with short pages */
  font-family: var(--ff-sans-normal); 
  font-size: var(--fs-400);
  color: hsl(var(--col-white));
  background-color: hsl(var(--col-blue-900));
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%; /* follow size of parent container */
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* for those who do not want animations due to accessibility issues */

/* from kevin powell */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------------------------------- */
/* Utility Classes */
/* ----------------------------------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem); /* default of 1 rem s*/
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* or *:not(:first-child) => anything that is not the first child */
/* supposedly makes it easier to add paddings all sibling containers except for the first one, allowing for consistent padding */
/* to deal with specificity issues => *:where(not(:first-child))  */
.flow > * + * {
    margin-top: var(--flow-space, 1rem);
    /* outline: 1px solid red; */
}

/* from what I read, containers or wrappers are utility classes used to center any and all content inside of a div */

.container {
    /* adds padding to the left and right, 0 for top and bottom */
    padding-inline: 2em; 
    margin-inline: auto;
    max-width: 80rem;
}

/* used for assitive technologies */
/* leaves it in the dom, for the screen reader */
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
/* utility classes for colors */

.bg-dark{background-color: hsl(var(--col-blue-900));}

.bg-light{background-color: hsl(var(--col-blue-300));}

.bg-white{background-color: hsl(var(--col-white));}

.text-dark{color: hsl(var(--col-blue-900));}

.text-light{color: hsl(var(--col-blue-300));}

.text-white{color: hsl(var(--col-white));}

/* typography */ 

.ff-serif{
    font-family: var(--ff-serif);
}

.ff-sans-cond{
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal{
    font-family: var(--ff-sans-normal);
}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase{text-transform: uppercase;}

.fs-900{font-size: var(--fs-900);}
.fs-800{font-size: var(--fs-800);}
.fs-700{font-size: var(--fs-700);}
.fs-600{font-size: var(--fs-600);}
.fs-500{font-size: var(--fs-500);}
.fs-400{font-size: var(--fs-400);}
.fs-300{font-size: var(--fs-300);}
.fs-200{font-size: var(--fs-200);}

/* utility class for numbered titles */

.numbered-title{
    text-transform: uppercase;
    font-family: var(--ff-sans-cond);
    letter-spacing: 4px;
    font-size: var(--fs-500);
}

.numbered-title span {
    color:hsl(var(--col-white)/0.25);
    /* em better as it scales relative to the parent container */
    margin-right: 0.5em;
    /* same as font weight 700 */
    font-weight: bold;
}

/* ----------------------------------------------------- */
/* Components */
/* ----------------------------------------------------- */

.large-button{
  position: relative;
  text-decoration: none;
  padding: 0 2em;
  display: grid;
  /* modern css to get a square */
  aspect-ratio: 1;
  /* center an item in the center */
  place-items: center;
  border-radius: 50%;
  z-index: 1;
}

/* Hover effect */
/* .large-button:hover {
  color: hsl(var(--col-blue-900) / 0.5);
  Increase the shadow and add a slight lift effect
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
} */
 
.large-button::after{
  content: " ";
  position: absolute;
  background: hsl(var(--col-white)/0.15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transition: transform 500ms ease-in-out;
} 

/* the focus is to show the effect when the user tabs on to it */
.large-button:hover::after, .large-button:focus::after{
  transform: scale(1.5);
} 


/* styling navigation bar */

.primary-navigation{
  list-style: none;
  --gap: 8rem;
  margin: 0;
  padding: 0;
  --underline-gap: 2rem;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation  a > span {
  font-weight: bold;
  margin-right: 0.5em;
}

/* select all direct descendants of this class */
.underline-indicators > *{
  /* applies padding top and bottom */
  padding: var(--underline-gap, 1rem) 0; 
  border: 0;
  cursor: pointer;
  border-bottom: var(--underline-width) hsl(var(--col-white) / 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  /* applies padding top and bottom */
  border-bottom: var(--underline-width) hsl(var(--col-white) / 0.5);
}

.underline-indicators > .active {
  /* applies padding top and bottom */
  border-bottom: var(--underline-width) hsl(var(--col-white) / 1);
}

.tab-button{
  --gap: 3rem;
  --underline-gap: 0.25rem;
}